.nav {
    background:#9F653F;
    padding: 1rem 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.nav-item {
    font-size: 2.5rem;
    width: 32%;
    margin: 0;
    line-height: 3rem;
}

p {
    margin: 0;
}

.page-title {
    font-size: 3rem;
    font-weight: bold;
}

/* Media Queries
************************************************/

@media only screen and (max-width: 1280px) {
    .nav { 
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .nav-item { 
        font-size: 1.8rem; 
        padding: 0 1rem;
    }

    .page-title { font-size: 2rem; }
}
